@import url(../fonts/font.css);
@import "./variable.scss";
@import "./common.scss";
@import "./color.scss";

/* antD */
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background-color: $color-main;
}

/* swiper */
.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #ffffff00;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        border-radius: 20px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    .celeb-swiper-item {
        width: auto;
    }
}

/* celeb */
.celeb-plus-button {
    background-color: $color-main;
}
.celeb-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-right: 0!important;
    }
    .celeb-name {
        font-size: $font-s;
        margin: 5px 0;
    }
}
.celeb-swiper {
    .swiper-wrapper {
        gap: 10px;
        * {
            margin-right: 0!important;
        }
    }
}
.celeb-list-wrap {
    .celeb-title {
        margin: 10px 0 30px;
        font-size: $font-l;
        font-weight: 600;
    }
    .celeb-items {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 550px;
        @media(max-width: 550px) {
            width: 440px;
        }
        @media(max-width: 440px) {
            width: 330px;
        }
        @media(max-width: 330px) {
            width: 220px;
        }
        .celeb-item {
            flex-basis: 110px;
            justify-content: center;
            position: relative;
        }
    }
}
.celeb-like {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 5px;
    margin: 5px;
    .ant-rate {
        font-size: 25px;
    }
    ul, li, div {
        display: flex;
    }
}

/* event */
.event-component {
    display: flex;
    margin: 15px 5px;
    a {
        display: flex;
        width: 100%;
    }
    .event-image {
        line-height: 0;
        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .event-content {
        //margin: auto 10px;
        flex-grow: 1;
        .event-title {
            display: block;
            font-weight: 600;
            margin-bottom: 5px;
            @include ellipsis(1);
        }
        p {
            margin: 2px 0;
            font-size: $font-s;
        }
    }
    .event-like {
        margin: auto 0;
    }
}

/* detail */
.page-header {
    width: 100%;
    img {
        width: 100%;
    }
}

/* calendar */
.event-calendar {
    .calendar-title {
        text-align: center;
        h3 {
            display: inline-block;
            margin: 0 10px;
        }
    }
    table div {
        text-align: left;
        .ant-badge {
            position: absolute;
            top: 6px;
            right: 2px;
        }
    }
}

/* detail */
.detail {
    .detail-icon {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        padding-bottom: 5px;
        align-items: center;
        button > svg {
            width: 20px;
            height: 20px;
        }
        ul {
            display: flex;
        }
    }
    .detail-header {
        position: relative;
        padding-top: 75%;
        overflow: hidden;
        width: 100%;
        .header-image-centered {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            -webkit-transform: translate(50%,50%);
            -ms-transform: translate(50%,50%);
            transform: translate(50%,50%);
            > div, > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            div {
                height: 100%;
            }
        }
    }
    .detail-body {
        // display: flex;
        // flex-wrap: wrap;
        flex: 1;
        // align-content: flex-start;
        // top: -50px;
        position: relative;
        .detail-profile {
            display: flex;
            justify-content: space-between;
            line-height: 2;
            .ant-avatar {
                flex-shrink: 0;
                border: 1px solid #aaa;
            }
            .detail-title {
                display: flex;
                // margin: 60px 0 0;
                justify-content: space-between;
                align-items: center;
                h3 {
                    margin: 0 10px 0;
                }
                button > svg {
                    width: 20px;
                    height: 20px;
                }
            }
            .detail-btn {
                display: flex;
                align-items: center;
            }
        }
        .detail-event, .detail-contents {
            display: block;
            // width: 100%;
            margin: 10px;
            .event-location {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .event-map {
                display: flex;
                justify-content: center;
            }
        }
        .detail-after {
            display: block;
            width: 100%;
            h4 {
                margin: 20px 10px 0;
            }
        }
    }
    .detail-celeb {
        margin: 15px 0 5px;
        .celeb-introduce {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5px 0;
            h2, span {
                display: inline-block;
                margin: 0;
            }
            .celeb-date {
                font-size: $font-s;
                color: #aaa;
            }
        }
    }
    .detail-events {
        .detail-members {
            margin: 10px 0;
        }
        .detail-title {
            display: flex;
            h2, h3 {
                margin-top: 15px;
                display: inline-block;
                flex-grow: 1;
            }
            .button-group {
                display: inline-block;
                flex-grow: 0;
                margin: auto 0;
            }
        }
    }
}

/* afterword */
.aw-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .aw-item {
        width: 20%;
        @media(max-width: 600px) {
            width: 25%;
        }
        @media(max-width: 480px) {
            width: 33.333%;
        }
        @media(max-width: 360px) {
            width: 50%;
        }
        @media(max-width: 240px) {
            width: 100%;
        }
        .aw-wrapper {
            box-shadow: 0px 2px 5px 0px #ccc;
            padding: 10px;
            border-radius: 7px;
            margin: 10px;
            display: flex;
            flex-wrap: wrap;
            &:hover {
                box-shadow: 0px 2px 8px 0px #aaa;
            }
            .aw-image {
                width: 100%;
                img {
                    border-radius: 5px;
                    width: 100%;
                    max-height: 60px;
                    object-fit: cover;
                }
            }
            .aw-detail {
                text-align: center;
                width: 100%;
                span {
                    font-size: $font-s;
                }
            }
        }
    }
}
.aw-pop-content {
    max-height: 500px;
    max-width: 100%;
    overflow: auto;
    .aw-pop-image {
        width: 100%;
        img {
            width: 100%;
        }
    }
}

/* popup(afterword) */
.ant-modal-footer {
    display: flex;
    justify-content: space-between;
}

/* form */
.form-button {
    display: flex;
    gap: 10px;
    > * {
        flex: 1 1;
    }
}
.ant-picker-panels {
    flex-wrap: wrap;
    flex-direction: column;
}

/* tab */
.ant-tabs-nav-wrap {
    display: block!important;
    .ant-tabs-nav-list {
        justify-content: space-around;
        .ant-tabs-tab {
            flex: 1;
            justify-content: center;
            margin: 0;
            font-weight: 600;
        }
    }
}

/* mypage */
.mypage {
    .mypage-title {
        font-size: $font-l;
        strong {
            font-size: $font-xl;
        }
    }
}

/* celeb fav */
.celeb-fav {
    display: flex;
    margin: 10px 5px;
    a {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .celeb-fav-name {
        display: block;
        font-weight: 600;
        font-size: $font-m;
        margin-left: 10px;
        @include ellipsis(1);
    }
    .celeb-fav-like {
        margin: auto 0;
    }
}

/* panel */
.ant-collapse-item {
    .ant-collapse-header {
        border-bottom: 1px solid #ccc;
        padding: 10px 2px!important;
    }
}

/* login */
.social-login-wrap {
    min-height: calc(100% - 20px);
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    .social-title {
        flex: 1 1 100px;
        display: flex;
        align-items: center;
    }
    .social-login {
        flex-grow: 0;
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
        width: 100%;
        gap: 10px;
        .social-image {
            width: 100%;
            flex: 0 0 auto;
            img {
                width: 100%;
            }
        }
        .social-login-buttons {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .social-login-button {
                border-radius: 12px;
                width: 100%;
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                .social-login-logo {
                    height: 20px;
                    min-width: 40px;
                    text-align: center;
                    position: absolute;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                span {
                    width: 100%;
                    text-align: center;
                }
                &.google {
                    border: 1px solid #4285f4;
                }
                &.kakao {
                    background-color: #fee500;
                    span {
                        color: rgba(0, 0,  0, 0.85);
                    }
                }
                &.naver {
                    background-color: #03c75a;
                    span {
                        color: #fff;;
                    }
                }
            }
        }
    }
}
.login-popup-wrap {
    width: 100%!important;
    max-width: $max-width;
    height: 100%; 
    .ant-modal-content {
        height: 100%;
    }
}

.event-skeleton {
    width: 70%;
    * {
        margin: 0;
    }
    .ant-skeleton-title {
        height: 20px!important;
        width: 70%!important;
    }
    .ant-skeleton-paragraph {
        margin-block-start: 7px!important;
        li {
            height: 12px!important;
            border-radius: 2px!important;
        }
        >li +li {
            margin-block-start: 5px!important;
        }
    }
}
.avatar-skeleton-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-celeb {
    .avatar-skeleton {
        display: inline-flex;
        margin-right: 10px;
    }
}
.celeb-items {
    .avatar-skeleton {
        flex-basis: 110px;
        align-items: center;
        height: 110px;
    }
}
.avatar-skeleton {
    display: flex;
    flex-direction: column;
    div {
        display: inline-block;
        width: 80px!important;
    }
    .ant-skeleton-avatar {
        width: 80px!important;
        height: 80px!important;
    }
    .ant-skeleton-paragraph {
        margin: 5px 0 3px!important;
        li {
            margin: auto;
        }
    }
}

TwitterTweetEmbed {
    width: 100%!important;
    max-width: $max-width;
    height: 100%; 
}